# Format options
--indent 4
--maxwidth 120

# Rules
--self init-only
--commas inline
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--stripunusedargs closure-only

--decimalgrouping ignore
--binarygrouping ignore
--octalgrouping ignore
--hexgrouping ignore

--disable andOperator
--disable redundantRawValues
--disable preferKeyPath
--disable extensionAccessControl
--disable enumNamespaces
--disable initCoderUnavailable
--disable wrapMultilineStatementBraces

# File options
--exclude /**/.build/, /**/bundle/
--swiftversion 5.9

